@page
@model ActividadesSugeridasRazorPages.Pages.ActividadesSugeridasEstatus.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Actividades Sugeridas Estatus - Editar</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActividadSugeridaEstatus.IdEstatusDet" />
            <div class="form-group">
                <label asp-for="ActividadSugeridaEstatus.IdTipoActividadSugerida" class="control-label" ></label>
                <select asp-for="ActividadSugeridaEstatus.IdTipoActividadSugerida" class="form-control"  asp-items="ViewBag.IdTipoActividadSugerida" readonly></select>
                <span asp-validation-for="ActividadSugeridaEstatus.IdTipoActividadSugerida" class="text-danger" readonly ></span>
            </div>
            <div class="form-group">
                <label asp-for="ActividadSugeridaEstatus.IdActividadSugerida" class="control-label" type="hidden" ></label>
                <select asp-for="ActividadSugeridaEstatus.IdActividadSugerida" class="form-control" asp-items="ViewBag.IdActividadSugerida" type="hidden" ></select>
                <span asp-validation-for="ActividadSugeridaEstatus.IdActividadSugerida" class="text-danger" > </span>
            </div>
            <div class="form-group">
                <label asp-for="ActividadSugeridaEstatus.IdTipoEstatus" class="control-label" ></label>
                <select asp-for="ActividadSugeridaEstatus.IdTipoEstatus" class="form-control" asp-items="ViewBag.DesTipoEstatus" >Tipo Estatus</select>
                <span asp-validation-for="ActividadSugeridaEstatus.IdTipoEstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActividadSugeridaEstatus.FechaEstatus" class="control-label">Fecha </label>
                <input asp-for="ActividadSugeridaEstatus.FechaEstatus" class="form-control" readonly/>
                <span asp-validation-for="ActividadSugeridaEstatus.FechaEstatus" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="ActividadSugeridaEstatus.Actual" class="control-label" type="hidden">Actual</label>
                <input asp-for="ActividadSugeridaEstatus.Actual" class="form-control" type="hidden"/>
                <span asp-validation-for="ActividadSugeridaEstatus.Actual" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="ActividadSugeridaEstatus.Observacion" class="control-label">Observación</label>
                <input asp-for="ActividadSugeridaEstatus.Observacion" class="form-control" />
                <span asp-validation-for="ActividadSugeridaEstatus.Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-id="@Model.idAct">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
